<% const errors = locals.loginError?.length ? locals.loginError : locals.errors; %>
<% if(errors.length) { %>
    <ul id="error-list">
     <%   errors.forEach(error => { %>
            <li><%= error.msg || error %></li>
    <% }) %>
    </ul>
<% } %>