<% if(locals.errors || locals.loginError ) { %>
   <% if(loginError) errors = loginError %>
    <ul>
     <%   errors.forEach(error => { %>
            <li><%= error.msg || error %></li>
    <% }) %>
    </ul>
    
<% } %>