<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
    <script> setTimeout(() => document.location.href = "/", "5000"); </script>
</head>
<body>
    <h1>Sorry, I could not find the requested content </h1>
    <p>You will get redirected shortly. <a href="/">Go back to the home page</a> if it does not work.</p>
</body>
</html>