<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
</head>
<body>
    <main>
        <%- include("../partials/errors.ejs") %>
        <form action="/file/<%= folder.id %>/upload" method="post" enctype="multipart/form-data">
            <div>
                <label for="file">Choose a file to upload</label>
                <input type="file" id="file" name="file" accept="*" required>
            </div>
            <div>
                <button type="submit">Submit</button>
                <a href="/folder/<%= folder.id %>/<%= folder.name %>">Cancel</a>
            </div>
        </form>
    </main>
</body>
</html>