<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main class="signup-container">
        <%- include("../partials/errors.ejs") %>
        <form action="/user/login" method="post">
            <fieldset>
                <legend class="signup">Log in</legend>
                <p>Not a member yet? <a href="/user/register" class="textlink">Register</a> instead. </p>
            <div class="signup-input">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" required autofocus>
            </div>
            <div class="signup-input">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" required>
            </div>
            <div class="signup-input">
                <button type="submit">Submit</button>
            </div>
            </fieldset>
        </form>
    </main>
</body>
</html>